.PaintingAndSliderBlock {
    position: relative;
    width: 90vw;
    height: 90vw;
    max-width: clamp(300px, 63vh, 630px);
    max-height: clamp(300px, 63vh, 630px);
    margin-left: auto; 
    margin-right: auto; 
}

    .PaintingAndSliderBlock img {
        width: 89%;
        height: 89%;
        border: 0.5rem solid;
        border-color: black;
        position: relative;
        object-fit: cover;
    }

.painting-slider {
    position: absolute;
    top: 97%;
    left: 5%;
    height: 1%;
    width: 90%;
}

.painter-slider {
    position: absolute;
    top: 5%;
    left: 95%;
    height: 90%;
    width: 1%;
}



 