.RoundDisplayBlock {
    position: relative;
    width: 100%;
}

    .RoundDisplayBlock Button {
        position: absolute;
        left: 98%;
        top: 0%;
        transform: translateX(-100%);
        width: 4vh;
        min-width: 0 !important;
        height: 4vh;
        background-color: var(--button-background-color) !important;
        color: var(--button-text-color) !important;
        border: 0.1rem solid black !important;
        font-size: clamp(10px, 2vmax, 20px) !important;
    }

        @media(hover: hover) {
            .RoundDisplayBlock Button:hover {
                background-color: var(--button-background-color-hover) !important;
            }
        }