.TrainControlBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
   
    pointer-events: none;
    /* Set border-bottom-left-radius and border-bottom-right-radius to 0 to keep the bottom corners square */
}


.AppTitleText {
    position: relative;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #880088;
    font-weight: 500 !important;
    -webkit-text-stroke: 0.1rem black;
    z-index: 2;
}

.TrainControlBlockSpeedSlider {
    position: absolute;
    top: 81%;
    left: 0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}


.TrainControlBlockWorldQuestionButton,
.TrainControlBlockLifeQuestionButton,
.TrainControlBlockOwnQuestionButton,
.TrainControlBlockInstructionsButton {
    position: absolute !important;
    height: 4rem !important;
    width: 4rem !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 50% !important;
    border: 5px solid black !important;
    font-size: 1.5rem !important;
    pointer-events: auto;
    background-color: #880088 !important;
}
.TrainControlBlockWorldQuestionButton {
    top: 87%; /* Adjust the top position for each button */
    left: 70% !important;
}

.TrainControlBlockLifeQuestionButton {
    top: 92%;
    left: 90% !important;
}

.TrainControlBlockOwnQuestionButton {
    top: 87%;
    left: 30% !important;
}

.TrainControlBlockInstructionsButton {
    top: 92%;
    left: 10% !important;
}



.ControlBoard {
    position: absolute;
    top: 77%;
    left: calc(-5% - 0.5rem);
    width: 110%;
    height: calc(40% - 1rem);
    border-radius: 100%;
    background-color: #666;
    overflow: hidden;
    z-index: 0;
    clip-path: polygon(calc(4.55% + 0.4rem) 0, calc(95.45% - 0.4rem) 0, calc(95.45% - 0.4rem) 58%, calc(4.55% + 0.4rem) 58%);
    border: solid black 0.5rem;
}


.TitleBoard {
    position: absolute;
    top: -28%;
    left: calc(-50% - 0.5rem);
    width: 200%;
    height: calc(40% - 1rem);
    border-radius: 100%;
    background-color: #666;
    overflow: hidden;
    z-index: 1;
    clip-path: polygon(calc(25% + 0.4rem) 60%, calc(75% - 0.4rem) 60%, calc(75% - 0.4rem) 100%, calc(25% + 0.4rem) 100%);
    border: solid black 0.5rem;
}
    



 







 