:root {
    --app-max-width: 1050px;
    --button-text-color: #000000;
    --button-background-color: #ee7700;
    --button-background-color-hover: #aa5500;
}

.appContainer {
    position: relative;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    width: clamp(200px, 95%, var(--app-max-width) + 0px);
    user-select: none;
    border: solid black 0.5rem;
    height: 96vh;
}

.canvas-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

html {
    font-size: 20px; /* Set the root font size */
}

 
 


