:root {
    --app-max-width: 1050px;
}

.appContainer {
    position: relative;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    width: clamp(200px, 95%, var(--app-max-width));
    user-select: none;
    border: solid black 0.5rem;
    height: 92vh;
    border-radius: 1rem;
    overflow: hidden;
}

html {
    font-size: 20px; /* Set the root font size */
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px), screen and (max-height: 450px) {
    html {
        font-size: 11px;
    }
}

 